/* ----------------------------------variables---------------------------------- */
:root {
  --color-primary: hsl(12, 88%, 59%);
  --color-secondary: hsl(228, 39%, 23%);
  --color-dark-blue: hsl(233, 12%, 13%);
  --color-light-gray: hsl(0, 0%, 98%);
  --color-pale-red: hsl(13, 100%, 96%);
  --color-dark-gray: hsl(227, 12%, 61%);
}
/* ----------------------------------Resetters---------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* ----------------------------------typography---------------------------------- */
html {
  font-size: 62.5%;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-secondary);
}
p {
  color: var(--color-dark-gray);
}

/* ----------------------------------list---------------------------------- */
.container {
  padding: 0 2.5rem;
}
/* ----------------------------------list---------------------------------- */
.list {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
}
/* ----------------------------------links---------------------------------- */
.link {
  text-decoration: none;
}
.nav--link {
  color: var(--color-secondary);
}
.nav--link:hover {
  color: var(--color-dark-gray);
}
/* ----------------------------------buttons---------------------------------- */
.btn {
  padding: 1.5rem 3rem;
  border-radius: 25px;
  border: none;
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-light-gray);
  font-weight: 500;
}
.btn--primary:hover {
  background-color: #ec7d62;
  color: white;
  cursor: pointer;
}

/* ----------------------------------media---------------------------------- */
.media {
  width: 100%;
}
.media--bar {
  display: flex;
  height: 4rem;
  background-color: var(--color-pale-red);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 1.5rem;
  align-items: center;
}
.media--title {
  padding-left: 1.5rem;
  font-size: 1.5rem;
}
.btn--media {
  padding: 1rem 2.5rem;
  border-radius: 25px;
  font-weight: 700;
}
.media--text {
  font-size: 1.4rem;
  margin: 2rem 1.5rem 5rem;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .media--bar {
    background-color: inherit;
    margin-left: 3rem;
  }
  .media--title {
    padding-left: 3rem;
  }
  .media--text {
    margin: 2rem 0 5rem 13rem;
  }
}
@media screen and (min-width: 1024px) {
}

/* ----------------------------------Navbar---------------------------------- */

.navbar {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  object-fit: cover;
}
.nav--menu {
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pale-red);
  width: 100%;
  left: -100%;
  top: 80px;
}
.nav--item {
  padding: 0.5rem 0;
  font-weight: 700;
}
.nav--hamburger {
  display: block;
  transition: all 0.8s ease;
}
.nav--hamburger__bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 3px;
  background-color: var(--color-secondary);
}
.nav--hamburger:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.nav--btn {
  display: none;
}
.nav--hamburger.active .nav--hamburger__bar:nth-child(2) {
  opacity: 0;
}
.nav--hamburger.active .nav--hamburger__bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.nav--hamburger.active .nav--hamburger__bar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
.nav--menu.active {
  left: 0;
}
@media screen and (min-width: 768px) {
  .nav--hamburger {
    display: none;
  }
  .nav--menu {
    position: static;
    width: auto;
    flex-direction: row;
    background-color: inherit;
  }
  .nav--item {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav--btn {
    display: block;
    margin: 0;
  }
}
