/* ----------------------------------variables---------------------------------- */
:root {
  --color-primary: hsl(12, 88%, 59%);
  --color-secondary: hsl(228, 39%, 23%);
  --color-dark-blue: hsl(233, 12%, 13%);
  --color-light-gray: hsl(0, 0%, 98%);
  --color-pale-red: hsl(13, 100%, 96%);
  --color-dark-gray: hsl(227, 12%, 61%);
}
/* ----------------------------------Resetters---------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* ----------------------------------typography---------------------------------- */
html {
  font-size: 62.5%;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-secondary);
}
p {
  color: var(--color-dark-gray);
}
.text {
  font-size: 1.4rem;
  line-height: 2;
}

/* ----------------------------------body container---------------------------------- */

.container {
  padding: 0 2.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 5%;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 12%;
  }
}
/* ----------------------------------list---------------------------------- */
.list {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
}
/* ----------------------------------links---------------------------------- */
.link {
  text-decoration: none;
}
.nav--link {
  color: var(--color-secondary);
}
.nav--link:hover {
  color: var(--color-dark-gray);
}
/* ----------------------------------buttons---------------------------------- */
.btn {
  padding: 1.5rem 3rem;
  border-radius: 25px;
  border: none;
}
.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-light-gray);
  font-weight: 500;
  box-shadow: 0 5px 20px -8px var(--color-primary);
}
.btn--primary:hover {
  background-color: #ec7d62;
  color: white;
  cursor: pointer;
}
/* ----------------------------------icon---------------------------------- */
.icon {
  width: 3rem;
  height: 3rem;
}
/* ----------------------------------bgimages---------------------------------- */
.bg-top {
  position: absolute;
  transform: scale(0.5, 0.5);
  top: -25rem;
  right: -30rem;

  z-index: -1;
}
@media screen and (min-width: 768px) {
  .bg-top {
    position: absolute;
    transform: scale(1, 1);
    top: -18%;
    right: -8%;
    z-index: -1;
  }
}
.bg-bottom {
  position: absolute;
  transform: scale(0.5, 0.5);
  top: 30rem;
  right: -100%;

  z-index: -1;
}
@media screen and (min-width: 768px) {
  .bg-bottom {
    position: absolute;
    transform: scale(1, 1);
    top: 110rem;
    left: -50rem;
    z-index: -1;
  }
}
/* ----------------------------------grids--------------------------------- */
@media screen and (min-width: 768px) {
  .grid2x1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/* ----------------------------------media---------------------------------- */
.media {
  width: 100%;
}
.media--bar {
  display: flex;
  height: 4rem;
  background-color: var(--color-pale-red);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 1.5rem;
  align-items: center;
}
.media--title {
  padding-left: 1.5rem;
  font-size: 1.5rem;
}
.btn--media {
  padding: 1rem 2.5rem;
  border-radius: 25px;
  font-weight: 700;
}
.media--text {
  font-size: 1.4rem;
  margin: 2rem 1.5rem 5rem;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .media--bar {
    background-color: inherit;
    margin-left: 3rem;
  }
  .media--title {
    padding-left: 3rem;
  }
  .media--text {
    margin: 2rem 0 5rem 13rem;
  }
}

/* ----------------------------------Cards---------------------------------- */
.card {
  width: 100%;
}
.card--image {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 37px;
  width: 75px;
}
.card--content {
  background-color: var(--color-light-gray);
  padding: 6rem 1rem 4.5rem;
}
.card--title {
  text-align: center;
  margin: 0;
}
.card--text {
  color: var(--color-dark-gray);
  text-align: center;
  line-height: 1.9;
  font-size: 1.3rem;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
}

/* ----------------------------------Navbar---------------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 10rem;
}
.logo {
  object-fit: cover;
}
.nav--menu {
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90%;
  left: -100%;
  top: 80px;

  margin: 1rem 5%;
  padding: 2rem;
}
.nav--item {
  padding: 2.2rem 0;
  font-weight: 700;
}
.nav--hamburger {
  display: block;
  transition: all 0.8s ease;
}
.nav--hamburger__bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 3px;
  background-color: var(--color-secondary);
}
.nav--hamburger:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.nav--btn {
  display: none;
}
.nav--hamburger.active .nav--hamburger__bar:nth-child(2) {
  opacity: 0;
}
.nav--hamburger.active .nav--hamburger__bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.nav--hamburger.active .nav--hamburger__bar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
.nav--menu.active {
  left: 0;
}
@media screen and (min-width: 768px) {
  .navbar {
    height: 15rem;
  }
  .nav--hamburger {
    display: none;
  }
  .nav--menu {
    position: static;
    width: auto;
    flex-direction: row;
    background-color: inherit;
  }
  .nav--item {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1080px) {
  .nav--btn {
    display: block;
    margin: 0;
  }
}
/* ----------------------------------Hero Section-------------------------- */
.hero {
  text-align: center;
}
.hero--image {
  width: 100%;
}
.hero--title {
  font-size: 3.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
.hero--text {
  font-size: 1.4rem;
  line-height: 2;
  margin: 2rem 0 3.5rem;
}
.hero .btn {
  margin-bottom: 10rem;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 10rem;
  }
  .hero--image {
    order: 2;
  }

  .hero--content {
    text-align: left;
    width: 100%;
    align-self: flex-end;
  }
  .hero--title {
    font-size: 3.5rem;
  }
  .hero--text {
    font-size: 1.3rem;
    width: 75%;
    margin: 4rem 0;
  }
  .hero .btn {
    margin-bottom: 7rem;
  }
}
@media screen and (min-width: 1124px) {
  .hero--content {
    text-align: left;
    width: 75%;
    align-self: flex-end;
  }
  .hero--title {
    font-size: 5rem;
  }
}
/* ----------------------------------Features---------------------------------- */
.features {
  margin-top: 10rem;
}
.features--title {
  font-size: 3rem;
  text-align: center;
}
.features--heading {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features--heading {
    width: 75%;
    text-align: left;
  }
  .features--title {
    font-size: 3.5rem;
    text-align: left;
    margin-top: 0;
  }
  .features--text {
    width: 75%;
  }
}

/* ----------------------------------testimonials---------------------------------- */
.testimonial--desktop {
  display: none;
}
.testimonial--title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}
.testimonial .btn {
  display: flex;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 4.5rem;
  box-shadow: 0 10px 20px -8px var(--color-primary);
}
@media screen and (min-width: 768px) {
  .testimonial--desktop {
    display: block;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-right: -10vw;
    margin-left: -10vw;
  }
  .testimonial--desktop .card--text {
    font-size: 1.5rem;
  }
  .testimonial--desktop .card {
    transition: all 0.3s ease-in-out;
  }
  .testimonial--desktop .card:hover {
    transform: scale(1.05);
  }
  .testimonial .btn {
    margin-bottom: 18rem;
  }
}

/* ----------------------------------Swiper---------------------------------- */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-pagination {
  position: relative;
  left: 5px;
  top: 3px;
}
@media screen and (min-width: 768px) {
  .swiper {
    display: none;
  }
}

/* ----------------------------------orange---------------------------------- */
.orange {
  background-image: url("/images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-color: var(--color-primary);
  padding-top: 10rem;
  padding-bottom: 9rem;
}
.orange--title {
  font-size: 4.5rem;
  color: var(--color-light-gray);
  text-align: center;
  padding: 1rem;
}
.orange .btn--primary {
  background-color: var(--color-light-gray);
  color: var(--color-primary);
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .orange .btn {
    justify-self: right;
    display: block;
    margin: 0 0;
    transition: all 0.2s ease;
  }
  .orange .btn:hover {
    transform: scale(1.05);
    color: var(--color-dark-blue);
  }
  .orange {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    background-image: url("/images/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
    background-position: left;
  }
  .orange--title {
    font-size: 3.5rem;
    width: 70%;
    padding: 0;
    margin: 0;
    text-align: left;
  }
}

/* ----------------------------------footer---------------------------------- */

.footer {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: var(--color-dark-blue);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.footer--input_group {
  display: flex;
  width: 100%;
  justify-content: center;
}
#footer--inputbox {
  width: 66%;
  border-radius: 30px;
  margin-right: 1rem;
  font-size: 1.4rem;
  padding: 1.5rem 2.5rem;
  color: var(--color-secondary);
  font-weight: 700;
  transition: transform 0.3s ease;
}

#footer--inputbox:hover {
  transform: scale(1.05);
}

#footer--inputbox:focus {
  outline: none;
}
.footer.btn {
  padding: 1.5rem 3rem;
}
footer .grid2x1 {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: baseline;
  margin-left: 4rem;
}
.gridleft {
  text-align: left;
}
.gridright {
  text-align: left;
}
.footer--links {
  color: var(--color-light-gray);
  font-size: 1.5rem;
  transition: all 0.2s ease;
}
.footer--links:hover {
  color: var(--color-primary);
  font-size: 1.55rem;
}
.footer--link_items {
  padding: 1rem 0;
}

.footer--icons {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
}
.footer--icons .icon {
  fill: white;
  transition: all 0.2s ease-in-out;
}
.footer--icons .icon:hover {
  fill: var(--color-primary);
  cursor: pointer;
}

.footer--logo {
  width: 16rem;
  margin-top: 1rem;
}
.footer--copyright {
  font-size: 1.2rem;
  padding-top: 1rem;
  color: var(--color-dark-gray);
}
@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    gap: 1rem;
    width: 100%;
    grid-template-areas:
      "logo links links input"
      "icons links links copyright";
    grid-template-columns: 1fr 1fr 1fr 1.2fr;
    padding-bottom: 5rem;
  }

  .footer--logo {
    grid-area: logo;
  }
  .footer--list {
    grid-area: links;
  }
  .footer--input_group {
    grid-area: input;
  }
  .footer--icons {
    grid-area: icons;
    width: 16rem;
  }
  .footer--icons .icon {
    padding: 4px;
  }

  .footer--copyright {
    grid-area: copyright;
  }
}
