<footer>
  <div class="container footer">
    <div class="footer--input_group">
      <input
        type="email"
        name="footer_input"
        id="footer--inputbox"
        placeholder="Updates in your inbox"
      />
      <button class="btn btn--primary">Go</button>
    </div>
    <ul class="list footer--list grid2x1">
      <div class="gridleft">
        <li class="footer--link_items">
          <a href="#" class="link footer--links">Home</a>
        </li>
        <li class="footer--link_items">
          <a href="#" class="link footer--links">Pricing</a>
        </li>
        <li class="footer--link_items">
          <a href="#" class="link footer--links">Products</a>
        </li>
        <li class="footer--link_items">
          <a href="#" class="link footer--links">About Us</a>
        </li>
      </div>
      <div class="gridright">
        <li class="footer--link_items">
          <a href="#" class="link footer--links">Careers</a>
        </li>
        <li class="footer--link_items">
          <a href="#" class="link footer--links">Community</a>
        </li>
        <li class="footer--link_items">
          <a href="#" class="link footer--links">Privacy Policy</a>
        </li>
      </div>
    </ul>
    <div class="logo--area"></div>
    <div class="footer--icons">
      <svg class="icon">
        <use xlink:href="/images/sprite.svg#icon-facebook"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="/images/sprite.svg#icon-youtube"></use>
      </svg>

      <svg class="icon">
        <use xlink:href="/images/sprite.svg#icon-twitter"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="/images/sprite.svg#icon-pinterest"></use>
      </svg>
      <svg class="icon">
        <use xlink:href="/images/sprite.svg#icon-instagram"></use>
      </svg>
    </div>
    <img src="/images/logo.svg" alt="" class="logo footer--logo" />
    <p class="footer--copyright">Copyright 2020. All Rights Reserved</p>
  </div>
</footer>
