<section class="hero">
  <div class="container grid2x1">
    <img
      src="images/illustration-intro.svg
   "
      alt="charts"
      class="hero--image"
    />
    <div class="hero--content">
      <h1 class="hero--title">
        Bring everyone together to build better products.
      </h1>
      <p class="text hero--text">
        Manage provides all the functionality your team needs, without the
        complexity. Our software is tailor-made for modern digital product
        teams.
      </p>
      <button class="btn btn--primary">Get Started</button>
    </div>
  </div>
</section>
