<nav>
  <div class="navbar container">
    <img src="/images/logo.svg" alt="" class="logo" />
    <ul class="list nav--menu">
      <li class="nav--item">
        <a href="#" class="link nav--link"> Pricing</a>
      </li>
      <li class="nav--item">
        <a href="#" class="link nav--link">Product</a>
      </li>
      <li class="nav--item">
        <a href="#" class="link nav--link">About Us</a>
      </li>
      <li class="nav--item">
        <a href="#" class="link nav--link">Careers</a>
      </li>
      <li class="nav--item">
        <a href="#" class="link nav--link">Community</a>
      </li>
    </ul>
    <div class="nav--hamburger">
      <span class="nav--hamburger__bar"></span>
      <span class="nav--hamburger__bar"></span>
      <span class="nav--hamburger__bar"></span>
    </div>

    <button class="btn btn--primary nav--btn">Get Started</button>
  </div>
</nav>
